/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.Card {
  text-align: center;
  width: 300px;
  height: 600px;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 35px;
  mix-blend-mode: soft-light;
  box-shadow: 0px 10px 30px #BED9A6;
}
.BurgerImage {
  margin-top: 35px;
  width: 236px;
  height: 156px;
}

.BurgerName {
  margin-top: 8px;
  width: 246px;
  height: 48px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  margin-left: 0;
  margin-right: 0;
  line-height: 45px;
  color: #ffffff;
  width: 100%;
}

.BurgerComponents {
  width: 151px;
  height: 200px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #e5e5e5;
  text-align: left;
  margin-left: 27px;
}

.BurgerCalories {
  width: 103px;
  height: 23px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #ffffff;
  margin-left: 27px;
  margin-top: -8px;
  text-align: left;
}
.PriceButton {
  width: 220px;
  height: 50px;
  margin-top: 40px;
  background-color: rgb(89, 131, 7);
  border-radius: 35px;
  border-color: rgb(89, 131, 7);

  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 23px;
  color: #ffffff;
}
.PriceButton:hover {
  box-shadow: 0px 5px 30px #BED9A6;
  cursor: pointer;
}